## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts=application_df.value_counts("APPLICATION_TYPE")
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=[]
for i in range(len(counts)):
    if counts[i]<1000: #1000 this time
        application_types_to_replace.append(counts.index[i])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
countsclass=application_df.value_counts("CLASSIFICATION")
countsclass

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=[]
for i in range(len(countsclass)):
    if countsclass[i]<1000: #1000 this time
        classifications_to_replace.append(countsclass.index[i])
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [9]:
for i in application_df.columns:
    print(application_df.value_counts(i)) #check value counts for all variables so we can see which would benefit from binning

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
dtype: int64
AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
dtype: int64
USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
dtype: int64
ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
dtype: int64
STATUS
1    34294
0        5
dtype: int64
INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
dtype: int64
SPECIAL_CONSIDERATIONS
N    34272
Y       27
dtype: int64
ASK_AMT
5000          25398
63981             3
10478             3
15583             3
6725              3
              ...
53268             1
53251             1
53248             1
53241             1
8597806340        1
Length: 8747, dtype: int64
IS_SUCCESSFUL
1    18261
0    16038
dtype: int64

In [10]:
count_aff=application_df.value_counts("AFFILIATION") #bin affiliation
affs_to_replace=[]
for i in range(len(count_aff)):
    if count_aff[i]<100: 
        affs_to_replace.append(count_aff.index[i])
# Replace in dataframe
for cls in affs_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [11]:
count=application_df.value_counts("ORGANIZATION") #bin organization
to_replace=[]
for i in range(len(count)):
    if count[i]<1000: 
        to_replace.append(count.index[i])
# Replace in dataframe
for cls in to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [12]:
count=application_df.value_counts("USE_CASE") #bin use case
to_replace=[]
for i in range(len(count)):
    if count[i]<1000: 
        to_replace.append(count.index[i])
# Replace in dataframe
for cls in to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['USE_CASE'].value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [13]:
count=application_df.value_counts("INCOME_AMT") #bin income amount
to_replace=[]
for i in range(len(count)):
    if count[i]<1000: 
        to_replace.append(count.index[i])
# Replace in dataframe
for cls in to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [14]:
quartiles = np.quantile(application_df["ASK_AMT"],[.25,.75]) #removing outliers in the ask amount column
iqr = quartiles[1]-quartiles[0]
lower_bound = quartiles[0]-(1.5*iqr)
upper_bound = quartiles[1]+(1.5*iqr)
print(lower_bound)
print(upper_bound)
application_df=application_df.loc[(application_df["ASK_AMT"] < upper_bound) & (application_df["ASK_AMT"] > lower_bound)]

887.0
11855.0

In [15]:
reduce_df=application_df.drop(columns=["STATUS","SPECIAL_CONSIDERATIONS"]) #Both were almost entirely one value

In [16]:
dummy_df=pd.get_dummies(reduce_df)#get dummies
print(len(dummy_df))
dummy_df.head()

26093

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Independent,...,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Other,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other
0,5000,1,1,0,0,0,0,0,0,1,...,0,0,1,1,0,0,1,0,0,0
2,5000,0,0,0,0,0,1,0,1,0,...,0,0,1,1,0,0,1,0,0,0
3,6692,1,0,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
5,5000,1,0,0,1,0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,0
9,5000,0,0,0,0,0,1,0,1,0,...,0,0,1,1,0,0,1,0,0,0

In [17]:
# Split our preprocessed data into our features and target arrays
y=dummy_df["IS_SUCCESSFUL"]
X=dummy_df.drop(columns=["IS_SUCCESSFUL"])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input=len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

#0th layer
nn.add(tf.keras.layers.Dense(units=10, input_dim=num_input, activation="relu"))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, input_dim=num_input, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, input_dim=num_input, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, input_dim=num_input, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=10, input_dim=num_input, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                270

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 10)                110

 dense_3 (Dense)             (None, 10)                110

 dense_4 (Dense)             (None, 10)                110

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 721 (2.82 KB)
Trainable params: 721 (2.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=200) #increased epochs

Epoch 1/200
WARNING:tensorflow:From C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

612/612 [==============================] - 2s 1ms/step - loss: 0.9619 - accuracy: 0.5861
Epoch 2/200
612/612 [==============================] - 1s 1ms/step - loss: 0.6084 - accuracy: 0.7227
Epoch 3/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5779 - accuracy: 0.7319
Epoch 4/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5912 - accuracy: 0.7257
Epoch 5/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5836 - accuracy: 0.7347
Epoch 6/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5913 - accuracy: 0.7295
Epoch 7/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7353
Epoch 8/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5686 - accuracy: 0.7394
Epoch 9/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5706 - accuracy: 0.7410
Epoch 10/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7407
Epoch 11/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7413
Epoch 12/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5702 - accuracy: 0.7386
Epoch 13/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5677 - accuracy: 0.7422
Epoch 14/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7430
Epoch 15/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7428
Epoch 16/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5684 - accuracy: 0.7428
Epoch 17/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7410
Epoch 18/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7438
Epoch 19/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7460
Epoch 20/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7444
Epoch 21/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7472
Epoch 22/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7449
Epoch 23/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7439
Epoch 24/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7443
Epoch 25/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7450
Epoch 26/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7438
Epoch 27/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7458
Epoch 28/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7458
Epoch 29/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7444
Epoch 30/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7435
Epoch 31/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7445
Epoch 32/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7454
Epoch 33/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7456
Epoch 34/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7451
Epoch 35/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5637 - accuracy: 0.7458
Epoch 36/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7449
Epoch 37/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7407
Epoch 38/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7414
Epoch 39/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7456
Epoch 40/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7473
Epoch 41/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7470
Epoch 42/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7466
Epoch 43/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7460
Epoch 44/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7470
Epoch 45/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7474
Epoch 46/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7475
Epoch 47/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7465
Epoch 48/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7469
Epoch 49/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7460
Epoch 50/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7468
Epoch 51/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7472
Epoch 52/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7481
Epoch 53/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7482
Epoch 54/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7473
Epoch 55/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7474
Epoch 56/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7476
Epoch 57/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7479
Epoch 58/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7464
Epoch 59/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7477
Epoch 60/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7475
Epoch 61/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7483
Epoch 62/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7458
Epoch 63/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7472
Epoch 64/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7476
Epoch 65/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7485
Epoch 66/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7473
Epoch 67/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7469
Epoch 68/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7474
Epoch 69/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7470
Epoch 70/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7478
Epoch 71/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7478
Epoch 72/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7478
Epoch 73/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7473
Epoch 74/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7479
Epoch 75/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7445
Epoch 76/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7476
Epoch 77/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7470
Epoch 78/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7477
Epoch 79/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7479
Epoch 80/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7478
Epoch 81/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7472
Epoch 82/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7461
Epoch 83/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7477
Epoch 84/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7474
Epoch 85/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7463
Epoch 86/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7478
Epoch 87/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7478
Epoch 88/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7483
Epoch 89/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7477
Epoch 90/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7481
Epoch 91/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7463
Epoch 92/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7471
Epoch 93/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7486
Epoch 94/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7485
Epoch 95/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7484
Epoch 96/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7481
Epoch 97/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7485
Epoch 98/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7478
Epoch 99/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7469
Epoch 100/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7486
Epoch 101/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7480
Epoch 102/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7489
Epoch 103/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7483
Epoch 104/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7488
Epoch 105/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7482
Epoch 106/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7488
Epoch 107/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7481
Epoch 108/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7489
Epoch 109/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7477
Epoch 110/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7478
Epoch 111/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7485
Epoch 112/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7478
Epoch 113/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7477
Epoch 114/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7492
Epoch 115/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7492
Epoch 116/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7484
Epoch 117/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7483
Epoch 118/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7489
Epoch 119/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7477
Epoch 120/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7488
Epoch 121/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7472
Epoch 122/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5729 - accuracy: 0.7474
Epoch 123/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5543 - accuracy: 0.7484
Epoch 124/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7488
Epoch 125/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7489
Epoch 126/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7481
Epoch 127/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7485
Epoch 128/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7472
Epoch 129/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7484
Epoch 130/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7495
Epoch 131/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7493
Epoch 132/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7475
Epoch 133/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7491
Epoch 134/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7479
Epoch 135/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7484
Epoch 136/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7474
Epoch 137/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7492
Epoch 138/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7493
Epoch 139/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7487
Epoch 140/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7483
Epoch 141/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7486
Epoch 142/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7464
Epoch 143/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7474
Epoch 144/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7474
Epoch 145/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7479
Epoch 146/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7487
Epoch 147/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7482
Epoch 148/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7499
Epoch 149/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7487
Epoch 150/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7489
Epoch 151/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7493
Epoch 152/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7479
Epoch 153/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7491
Epoch 154/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7481
Epoch 155/200

612/612 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7495
Epoch 156/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7476
Epoch 157/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7485
Epoch 158/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7492
Epoch 159/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7484
Epoch 160/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7477
Epoch 161/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7482
Epoch 162/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7468
Epoch 163/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7485
Epoch 164/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7487
Epoch 165/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7479
Epoch 166/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7497
Epoch 167/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7475
Epoch 168/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7497
Epoch 169/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7492
Epoch 170/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7482
Epoch 171/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7488
Epoch 172/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7485
Epoch 173/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7477
Epoch 174/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7478
Epoch 175/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7486
Epoch 176/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7487
Epoch 177/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7498
Epoch 178/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7474
Epoch 179/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7490
Epoch 180/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7484
Epoch 181/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7489
Epoch 182/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7484
Epoch 183/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7493
Epoch 184/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7498
Epoch 185/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7487
Epoch 186/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7472
Epoch 187/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7476
Epoch 188/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7496
Epoch 189/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7489
Epoch 190/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7495
Epoch 191/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7491
Epoch 192/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7474
Epoch 193/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7489
Epoch 194/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7497
Epoch 195/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7483
Epoch 196/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7485
Epoch 197/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7471
Epoch 198/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7491
Epoch 199/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7494
Epoch 200/200
612/612 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7488

In [22]:
# Evaluate the optomized model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

204/204 - 0s - loss: 0.5568 - accuracy: 0.7557 - 296ms/epoch - 1ms/step
Loss: 0.5568483471870422, Accuracy: 0.7556713819503784

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5", save_format='h5')

C:\Users\boers\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(